h1 {
    padding: 2% 2% 2% 10%;
    color: rgb(255, 0, 0);
}

#add-contact {
    margin: 0px 10px 10px;
}

#new-contact-form {
    padding: 10px 10px;
}

#headings {
    display: grid;
    grid-template-columns: repeat(6, 220px);
    padding: 50px 10px 20px;
    border-bottom: 1px solid rgb(168, 174, 179);
}

#headings > * {
    width: 220px;
}

ul {
    background-color:;
    display: grid;
    grid-template-columns: repeat(6, 220px);
    padding-inline-start: 10px;
}

ul > * {
    background-color:;
    width: 220px;
    padding: 2px 0;
}