h1 {
    padding: 2% 2% 2% 10%;
    color: yellow;
}

#contact-list {
    display: grid;
    columns: auto;
}

ul {
    background-color: tomato;
    display: grid;
    columns: auto;
}

li {
    background-color: teal;
    width: fit-content;
    height: fit-content;
}